doctype html
html 

head 
    title P&aaacute;gina no encontrada
    link(rel="stylesheet", "main.css")

body
    h1
        a(href="/") Regresar a p&aacute;gina de mis beb&eacute;s
    h2 No tenemos disponible al beb&eacute; '#{texto}' en nuestra p&aacute;gina